[2015-03-18 05:19] onedr0p opened #1 "If PlexHome is enabled this doesn't work."
First off, thanks for the library.

I'm having one problem, I'm getting a "401 Unauthorized" as a response when trying to use it.

I've read here..
https://forums.plex.tv/index.php/topic/72552-plexwatch-plex-notify-script-send-push-alerts-on-new-sessions-and-stopped/?p=774335
..that this is because of PlexHome. I'll look into adding support for PlexHome / PlexPass users but my knowledge of Node is

[2015-03-19 18:11] phillipj commented on #1
Hi @onedr0p,

thanks for reporting this issue. Really appreciate the investigation you have done already and your proposed solution! I have to get this reproduced with PlexHome before looking into what changes has to be done this project. I'll keep you updated :)

[2015-03-22 20:58] onedr0p commented on #1
Looks good so far @phillipj

I was working on my own integration using your project but I really like how to separated out the auth logic from the API.

I am working on a page where the person would input their username / password for plex, the library would then authenticate it, or notify on error. If it the authentication passes I'm hoping to get it written to a config file to be used again.

I

[2015-03-23 07:31] phillipj commented on #1
Nice, thanks for sharing! Glad this module is of some use out there :)

My first shot will perform authentication whenever the Plex Server responds with a 401 status code. The auth token will be cached in the PlexAPI-instance, preventing the need to authenticate on **every** Plex Server request.

Caching the auth token to a file sounds like a good idea.. Might be an improvement after getting the m

[2015-03-25 21:15] phillipj commented on #1
I just added the authentication bit needed for PlexHome into the core of this module now. Which means I'm getting ready to publish v2.0.0. Would you like to test / verify that it actually works with PlexHome @onedr0p?

[code]
and change the way you are instantiating the PlexAPI client as described in the soon-to-be Readme: https://github.com/phillipj/node-plex-api/blob/feature/plexhome-support/Rea

[2015-03-26 17:06] onedr0p commented on #1
I will give it a shot tonight when I'm out of work. Looking through your code I like how you handled everything, especially how you handled the auth and taking my way of passing in the options thru a object. I'll report back soon!

[2015-04-08 06:41] phillipj commented on #1
Woohoo, thanks for testing this @onedr0p! Sorry about the late reply, didnt notice your edit there... I'll release v2.0 within a few days :)

[2015-04-09 19:44] #1 closed

[2015-05-04 22:19] YouriT opened #4 "Images"
Hi,

First of all, nice work, really appreciated thanks for it :D

I was just wondering how do you retrieve & display images ? When requesting through the API it seams to work but the received data doesn't seem to be directly displayed as a JPEG, the binary seems to be broken somewhere.

Example code:
[code]

The result seems to be a binary, I even see a JFIF somewhere in the header.

Thanks !

[2015-05-04 23:34] YouriT commented on #4
Well it was just a bit tricky because of the request automatic encoding in utf8 which was making everything not working.

I got it working by adding after line 100 in api.js:
[code]

Solves the issue and now I can do:
[code]

Without any problem :)

[2015-05-05 08:34] phillipj commented on #4
Hi @YouriT, thanks for reporting and debugging this!

To be honest I havent retrieved images before, so didnt think of the default utf8 encoding as an issue. Seeing your example makes me think of streaming right away. It could have looked something like:

[code]

Any thoughts about that?

[2015-05-05 09:03] YouriT commented on #4
Well that could be an idea. Or we could rather detect the response header to see if the content-type is image or sound or whatever and if it's JSON, encode it and respond it. As it no options needed no ?

[2015-05-05 09:12] phillipj commented on #4
Sure, that would atleast fix the biggest issue here

[2015-05-05 09:21] YouriT commented on #4
Will check that this evening :)

[2015-05-05 20:21] YouriT commented on #4
I did a pull request to implement this feature (#5) :)
It's not perfect because it considers any other responses than application/json to be a stream but I don't see any other possible case so if needed we can make the difference but I don't find that very useful for now no ?

[2015-05-05 20:23] YouriT commented on #4
If you accept it, could you update the npm registry please ? Thx a lot !

[2015-05-24 22:18] phillipj commented on #4
Fixed with your commit cc1f60f889fcc

[2015-05-24 22:18] #4 closed

[2015-08-22 00:07] chrishoage opened #14 "Authentication Issue"
On line [153 in api.js](https://github.com/phillipj/node-plex-api/blob/master/lib/api.js#L153) you pass in `this.options` when plex-api-credentails expects the PlexAPI object https://github.com/phillipj/node-plex-api-credentials/blob/master/index.js#L29

This causes an error because options does not exist on the options object and does not authenticate.

[2015-08-22 05:13] phillipj commented on #14
Oh my, what a blooper! Thanks for pointing it out, I'll push a patch version right away.

[2015-08-22 05:14] #14 closed

[2015-08-26 18:51] MikeOne opened #16 "access to X-Plex-Token"
I would like to have access to the token after the signin process. I seems I can't get to it from the plex-api itself. Is there a possibility to add this token? I might a very smell change that actually add the token to the resolve in PlexAPI.prototype._authenticate. So line 163 - 164:

self.authToken = token;
deferred.resolve(token);

which actually allows me to call _authenticate myself on the p

[2015-08-26 19:52] phillipj commented on #16
Hi!

As you have seen there's no easy / documented way to retrieve the token ATM. Looking at the code you should be able to do something like this:
[code]

As that requires deep insight into how this package works and is very tightly coupled, it's far for ideal. We could expose an authenticated event from the PlexAPI instance itself? E.g.
[code]

Would that suffice for what you need?

[2015-08-26 20:07] MikeOne commented on #16
Actually, if the first option already works, it would suffice for me. I've gone a bit more complex and included the plex-api-credentials module separately and are now using:

var PlexAuth = require('plex-api-credentials');
PlexAuth(config).authenticate(api, function(empty, token){
		console.log("token: " + token);
	});

but your first option seems much cleaner than this (and saves a dependancy) -

[2015-08-26 20:10] MikeOne commented on #16
Hmmm.. Maybe my option is actually better for me. As I can now use a promise in an actual method call instead of depending on an event that might come in at some time...  What I have works for what I need so great!

I have another issue I'm trying to resolve, it's unrelated to this issue, should I raise another issue or can we discuss here?

[2015-08-26 20:14] MikeOne commented on #16
Just for your information, I'm on a larger team for a kickstarter project, specifically responsible for writing the Plex functionality. This kickstarter product will soon be in stores and I hope to use your module (non-forked) on this this app. The thing I'm writing will be open-source but installed on a physical device.

[2015-08-26 20:23] phillipj commented on #16
Awesome that you found a solution to your issue 👍

Sounds like you could close this issue and open a new one for that second
issue.

On Wednesday, August 26, 2015, MikeOne <notifications@github.com> wrote:

[2015-08-26 20:24] phillipj commented on #16
Wow that sounds exciting! So you have a link to that kickstarter?

On Wednesday, August 26, 2015, MikeOne <notifications@github.com> wrote:

[2015-08-26 20:39] MikeOne commented on #16
Sure, it's called 'Homey' (https://www.kickstarter.com/projects/athom/homey-the-living-room-talk-to-your-home). It's pretty close to production now :-)

I'll open an new issue (maybe - I first have to check something..)

[2015-08-26 21:01] OverloadUT commented on #16
Awesome project!

Feel free to check out my [alexa-plex](https://github.com/OverloadUT/alexa-plex) app if it could help at all, as it is functionally similar. I am also currently (as in yesterday and today) working on a PIN-based authentication module for node-plex-api here: [node-plex-api-pinauth](https://github.com/OverloadUT/node-plex-api-pinauth) (it's just placeholder code right now but I'm g

[2015-08-26 21:41] MikeOne commented on #16
Okay, that might be useful to me actually (PIN). Do you know why xml2js doesn't like the plex.tv responses btw? I can get raw xml back, but trying to convert it to a json object yields no usable object. I'm trying http://plex.tv/pms/friends/all

I get a valid xml response back:

<?xml version="1.0" encoding="UTF-8"?>
<MediaContainer friendlyName="myPlex" identifier="com.plexapp.plugins.myplex" mac

[2015-08-26 21:42] MikeOne commented on #16
No idea why github is truncating my comment..

[2015-08-26 21:45] MikeOne commented on #16
anyway, github is screwing me now. valid XML, but after xml2js, I get

{ comment: '',
  sgmlDecl: '',
  textNode: '',
  tagName: '',
  doctype: '',
  procInstName: '',
  procInstBody: '',
  entity: '',
  attribName: '',
  attribValue: '',
  cdata: '',
  script: '',
  c: '',
  q: '',
  bufferCheckPosition: 65536,
  opt:
   { trim: false,
     normalize: false,
     xmlns: false,
     lowercase: und

[2015-08-26 21:51] MikeOne commented on #16
Basically, I'd love to be able to use the plex.tv endpoints as well, using plex-api, so basically:

(curConfig is a complete config with username and password etc):

curConfig.hostname = "plex.tv";
curConfig.port = "80";
var plexTV = new PlexAPI(curConfig);
plexTV.query("/pms/friends/all").then(function(result){
		console.log(result);
})

This would be a great feature for me..

[2015-08-27 10:09] phillipj commented on #16
Just found a major bug in our code that turns XML into JSON. In summary it doesnt do callback and promises correctly, resulting in that wierd object @MikeOne posted as the resolved JSON.

If no one else jumps at this right away, I'll have a look at it in the start of next week :)

Closing this issue and creating a new issue.

[2015-08-27 10:09] #16 closed

[2015-08-27 10:12] phillipj opened #17 "Parsing XML doesnt work"
As reported by in #16 it might seem there's some issues with parsing XML into JSON when requesting plex.tv.

After some debugging I found the reason being we're not doing callback and promises corrently. This means especially these lines in `./lib/api.js`:

[code]

The value being resolved is the return value from `xml2js.parseString()` which does not work as intended since `.parseString()` is asy

[2015-08-27 12:11] MikeOne commented on #17
This is what I used to get it working locally:

    xml2js.parseString(body.toString('utf8'), { attrkey: 'attributes',  xmlns: true }, function(err, json) {
           return deferred.resolve(json);
    });

Not sure what the further logic is expecting as attrkey as I'm using my own (json) parser with the custom request to plex.tv I made.

[2015-08-27 17:10] OverloadUT commented on #17
This is super bizarre - I don't know why my project would be working at all with such a fundamental issue present. I'll look in to this as well.

[2015-08-27 19:02] phillipj commented on #17
And you do actually request some XML endpoints @OverloadUT?

[2015-08-27 19:29] OverloadUT commented on #17
I could have sworn my requests were getting XML, but I just checked it and as it turns out, my requests are all returning JSON directly. That makes sense then!

[2015-08-31 11:26] phillipj commented on #17
@YouriT I got the impression that PlexServer responds with XML on some endpoints in your PR #7. Do you remember which endpoints that was exactly?

[2015-08-31 14:14] MikeOne commented on #17
@phillipj , once this fix has been implemented, do you think I would be in a position to have my application setup 3 instances of plexApi:

1) One to PMS
2) One to a client (usually on port 3005)
3) And a connection to plex.tv to do additional requests like getting shared servers (unless you know another way to address a shared server?).

plex.tv endpoints (like /devices.xml and /pms/friends/all a

[2015-08-31 14:42] YouriT commented on #17
@phillipj I think that I add XML when asked for details about files but cannot remember the endpoint unfortunately. I can try to find it back if you need?

[2015-08-31 18:42] phillipj commented on #17
@YouriT yes please :+1:

[2015-08-31 19:14] phillipj opened #19 "Requesting plex.tv"
@MikeOne has recently expressed the need to use this package to request plex.tv aswell in #17. This issue should be used to discuss why that is a good idea and whether or not we should support it in core.

Seems like others have more experience than me on the subject, as the only thing I've been doing so far is authentication.

Especially what parts are useful from `plex-api` while requesting plex

[2015-08-31 19:15] phillipj commented on #17
@MikeOne having 3 instances should be no problem. Yes, you are correct v3.1.1 doesnt support XML at all ATM due to a big bug in XML transformation. A patch version will be released which fixes this issue.

IMO the first priority would be to support XML from PMS endpoints. I'm curious about the format of that XML and whether or not we should (a) just convert it to JSON or (b) do some transformation

[2015-08-31 19:24] OverloadUT commented on #17
@MikeOne it is actually possible to do Client requests as part of the same PMS server connection. This is how I do it in my Amazon Echo Plex app. Inspiration for this came from phillipj/node-plex-control, which gave me the building blocks for how to have all client requests handled by a PMS. For my app

To do custom plex.tv requests though, I agree with @phillipj that it might be best for a separa

[2015-08-31 19:29] OverloadUT commented on #19
The main reason I will want to do more plex.tv requests in the future will be for the `/servers` request, which can give you a list of active PMS servers and how to contact them. This will remove the need to keep the hostname and port in the app's configuration (or database). This will be especially useful for apps that live outside of the PMS's local network, due to the fact that the automaticall

[2015-08-31 20:45] OverloadUT commented on #17
@MikeOne regarding a way to chat, I just set up a Gitter for this project. Feel free to reach out there :) https://gitter.im/phillipj/node-plex-api

[2015-09-01 18:29] phillipj commented on #19
The `/servers` endpoint sounds really helpful!

Found some info about plex.tv endpoints in the unofficial plex docs which might be useful in this discussion: https://code.google.com/p/plex-api/wiki/PlexTv

[2015-09-01 19:04] MikeOne commented on #19
Yes it is helpful! It's actually /pms/servers.xml now (I think it changed). Another very useful one is /pms/resources.xml - gives much more detailed information than servers.xml

[2015-09-01 20:01] YouriT commented on #17
@phillipj it was when adding "?checkFiles=1" to an entity, it was mixing XML and JSON in the response, quite awkward behaviour btw. Don't know if it still does have this behaviour because my project is not running on for now, didn't have time to finish it.

[2015-09-02 08:25] #17 closed

[2015-09-02 09:47] phillipj commented on #17
:+1: @YouriT for replying

[2015-09-02 09:58] MikeOne commented on #17
Updated to 3.1.2 - XML worked straight away in my app - thanks!

[2015-09-02 10:06] phillipj commented on #17
Wooohooo 🎉

On Wednesday, September 2, 2015, MikeOne <notifications@github.com> wrote:

[2015-09-02 10:33] phillipj commented on #19
@MikeOne after you have been playing with plex.tv requests for a while, it would be really nice to hear what parts of plex-api you're actually using against plex.tv. E.g. is it only `query()` and authentication handling or more?

[2015-09-07 13:17] MikeOne opened #21 "Allow passing on of authToken to plex api instance"
I'm looking at a scenario now where I need to connect to a shared (and remote) PMS. I do not have a login for this PMS, but because it is shared, I can connect to it using the token I can fetch through plex.tv.

Basically, I have a side process that fetches the token, however, I can't seem to pass that on to the plex-api. I would like it very much if, next to username/password, I can also pass 'to

[2015-09-07 20:05] phillipj commented on #21
I cant see any issues with allowing `authToken` to be passed with `options` as you have there.

ATM getting a 401 response when `authToken` is set, would quickly reject the request, due to these lines inside `PlexAPI.prototype._authenticate()`:
[code]

I'm all ears to better solutions here if needed!

[2015-09-08 14:06] MikeOne commented on #21
If the simple fix works (just make it an optional opts) - I'm fine with it?

[2015-09-08 15:18] adelatour11 opened #22 "Node Plex API use"
Hello

i've just discover your work and i would like to understand the way it works : I have an android plex app that can connec to a plex home theater to stream music. Is it possible to cast music or video from an android plex app to the node server ?

how is managed the audio or video output ?

[2015-09-08 18:53] phillipj commented on #22
Hi there!

To be honest, I have never ventured out trying to stream anything. Personally only used the server HTTP API to discover which photos, music, TV series and movies I've got. Aswell as simple client controlling such as pause, play etc which I extracted into its own package [plex-control](https://github.com/phillipj/node-plex-control).

You may find some hints about what you are looking for

[2015-09-08 18:55] phillipj commented on #21
Alright! Would you like to open a PR for that?

[2015-09-09 09:18] MikeOne commented on #21
Sure, but it I'll be my first so I have to find out how to best go about it :-)

[2015-09-09 09:48] phillipj commented on #21
Awesome, dont hesitate to ask if you got any questions :smile:

[2015-09-10 18:06] MikeOne commented on #19
Authentication (manual - in order to fetch a token on demand) - postQuery -> to handle PIN auth (implementing that now, stealing some ideas from @OverloadUT ;-) but also the other plex.tv endpoints are pretty useful like /pms/devices.xml

[2015-09-22 20:02] phillipj commented on #22
I would have asked in one of the [Plex Forums](https://forums.plex.tv/). Atleast whether or not streaming via the HTTP API is actually possible, as that's not really a node.js / plex-api issue in the first place. If you get any advice about streaming in the forums, we would happily help you get started with the node.js side of things.

Closing this for now.

[2015-09-22 20:02] #22 closed

[2015-09-22 20:03] phillipj commented on #21
Linking this with PR #24.

[2015-09-22 20:06] phillipj commented on #19
Alright, my understanding of this so far is that it turns out plex-api could be pretty useful while requesting plex.tv, and doesnt need specific plex.tv functionality ATM.

Closing this issue, feel free to re-open it if something comes up in the future.

[2015-09-22 20:06] #19 closed

[2015-09-25 20:42] phillipj commented on #21
Landed in master with 644b5766934250

[2015-09-25 20:42] #21 closed

[2016-03-12 03:08] lokenx opened #58 "Timeout Option"
Any thoughts about adding a timeout option, or even hard coding one? Not sure what the default is for the request library but it's on the long side.

[2016-03-12 12:50] phillipj commented on #58
Atleast having the ability to provide sn explicit timeout sounds like a
very good idea 👍

On Saturday, 12 March 2016, loken <notifications@github.com> wrote:

[2016-03-14 10:57] IonicaBizau opened #59 "Update metadata for a video"
How can I update the metadata for a specific video?

Thanks! :sparkle:

[2016-03-19 00:39] lokenx commented on #58
Hey @phillipj any idea why this test is failing for timeouts?

[Here](https://github.com/lokenx/node-plex-api/blob/master/test/server.js#L93) I've added a server test that has a delay added, and test it [here](https://github.com/lokenx/node-plex-api/blob/master/test/timeout-test.js) but Nock complains that [Delay](https://github.com/node-nock/nock#delay-the-response) isn't a function for some reas

[2016-03-19 01:05] lokenx commented on #58
Fixed it I believe! Just writing that comment helped haha

https://github.com/phillipj/node-plex-api/pull/60

[2016-03-23 19:57] phillipj commented on #58
Closing this as you resolved it yourself in #60 :)

[2016-03-23 19:57] #58 closed

[2016-03-23 20:15] phillipj commented on #59
@IonicaBizau I haven't seen many URLs in the API which supports altering data. You might get more replies opening an issue in either https://github.com/drzoidberg33/plexpy or https://github.com/plexinc/plex-media-player

[2016-03-23 20:20] IonicaBizau commented on #59
@phillipj Actually, it was pretty easy: just changing the `POST` into `PUT`. I'm changing it right now and submit a PR.

[2016-03-24 07:57] phillipj commented on #59
Awesome! Did you find PUTs documented somewhere?

On Wednesday, 23 March 2016, Ionică Bizău <notifications@github.com> wrote:

[2016-03-24 08:02] IonicaBizau commented on #59
@phillipj Basically they use PUT requests to update the resources (it did not work with POST). I saw it in the browser developer tools. I opened #61 and I added there an example.

[2016-03-24 16:50] phillipj commented on #59
Thanks for investigating this and contributing :+1:

[2016-04-02 09:43] balaram123 commented on #59
How can i Integrate this plex server to the visual studio windows application

[2016-04-02 20:01] phillipj commented on #59
Closing this issue as it you found the answer to updating metadata youself

[2016-04-02 20:01] #59 closed

[2016-04-02 20:06] phillipj commented on #59
@balaram123 please open a new issue with your question. Include more info about you are doing and your setup, as it's needed for us to help you further.

[2016-05-03 08:25] FezVrasta opened #69 "Dicover Plex servers?"
Hi,

is there a way to automatically discover local Plex servers?

[2016-05-04 14:47] phillipj commented on #69
Could https://github.com/phillipj/node-plex-api/issues/19#issuecomment-136475879 be what you're looking for?

[2016-05-04 14:55] FezVrasta commented on #69
I'm not sure... I'd just like to get a list of Plex server's addresses on the local network.

[2016-05-05 19:18] phillipj commented on #69
Not that I'm aware of, no. Have you tried asking on the [plex forums](https://forums.plex.tv/), or possibly other Plex server clients like https://github.com/drzoidberg33/plexpy or https://github.com/plexinc/plex-media-player ?

[2016-06-04 21:13] phillipj commented on #69
Closing this for now cause no one seems to have a reasonable approach to do this, in this project at least.

[2016-06-04 21:13] #69 closed

[2016-08-23 02:01] laurentchicoine commented on #59
@phillipj I wasn't able to make the putQuery function work in the way it was presented in the doc. The function was just not calling back anything. I ended up finding that I needed to add a type=1 parameter to make it work.

client.putQuery("/library/sections/3/all?**type=1&**id=123&summary.value=updatedSummaryText")
    .then(function (result) {
        console.log("Description of video by id 123

[2016-08-24 07:08] phillipj commented on #59
Huh that's strange!

Do you know what type=1 means to the Plex Server? Where did you find hints
about that being needed? What version of Plex Server are you using?

Thanks for reaching out about this 👍

On Tuesday, 23 August 2016, laurentchicoine <notifications@github.com>
wrote:

[2016-08-25 00:19] laurentchicoine commented on #59
I don't know what it means to the Plex Server.

I found the type=1 parameter when exploring the Network tab of the Google Chrome Developer Tools. When you manually update a metadata from a content, the web interface is using the Plex API. So I inspected the PUT that was called and found out it was including the parameter type=1.

As for the version, I tried this on two different versions, a Window

[2016-09-26 20:08] dabbers opened #72 "TypeError: Cannot read property 'then' of undefined"
The plex api crashes when authenticating (I'm assuming), and I see this stack trace:

Code snippet:

[code]

This code worked at one point, I moved the server, then it started exhibiting this behavior. It was working last week, then it stopped working again today. Not sure what the root cause is, but I'm not familiar enough with the API gateway/API auth to understand the issue.

[2016-09-26 20:38] phillipj commented on #72
Oh my, this doesn't look good. Thanks for reporting, I'll have a look and
get back to you

On Monday, 26 September 2016, David <notifications@github.com> wrote:

[2016-10-06 08:00] phillipj commented on #72
@dabbers at first glance, I cant see the reason how this could happen tbh. Some extra information would be most valuable.

When you say you moved the server, which version of Node.js and OS were you running on those servers?

How did you move your application? E.g. copy the directory whole application directory including the `node_modules` directory, and run it directly? Or did you run `$ npm inst

[2016-10-12 21:25] dabbers commented on #72
When I say I moved the server, I was referring to the plex server. It used to be locally hosted, but now it's externally hosted. Port is forwarded, I can access plex server from externally. The application itself has stayed the same, unchanged (minus the host and port).

I suppose the node.js version might have changed recently. Though the module was broken before the version update too.

C:\Users

[2016-10-12 21:53] dabbers commented on #72
Further investigation, it might be related to an issue on my end. We seem to have 2 plex servers hosted there, the one I log into is the one I want because it's been port forwarded, but it appears as unavailable for a few seconds and defaults me to the other server, which has been shared with me, so I'm not sure why the api returns 401. I don't think this issue I'm seeing is with the API, though i

[2016-10-16 19:21] phillipj commented on #72
Completely agree! No matter how the Plex Server responds or fails, the plex-api library shouldn't crash like what you've reported, and of course let you `.catch()` in any error situation. I still haven't been able to reproduce this behaviour tho, which is really annoying.

[2016-10-16 19:35] phillipj commented on #59
@laurentchicoine way overdue, but I just updated the `.putQuery()` example with commit https://github.com/phillipj/node-plex-api/commit/d9d67e48e6b032f553048f20c99fe18ed523257e , after reproducing the same behaviour on my server.

Thanks so much for reporting this! 👍

[2016-11-24 13:28] gpapin opened #73 "Plex server's events"
Is it possible to wait for an event like : play or pause and perform action accordingly using this lib ?

[2016-11-24 14:14] phillipj commented on #73
As far as I know, it's not possible to get such events pushed to your code by the Plex server. You could of course do some periodic polling, but you won't get *actual real time* updates that way.

[2016-11-24 14:46] gpapin commented on #73
Hmm I feared you'd say that :(

I come from Kodi/xbmc and they expose such api with websocket support, this is really useful when you need to be responsive. I'll probably post something on their forum, they must have something available for their clients that I might be able to use.

I was planning on changing the lights status on the rooms based on the playback, this is why I need to have the sma

[2016-11-24 14:46] #73 closed

[2016-11-27 11:09] mistic100 commented on #72
I have the same issue when I query the server too often.

My script is very simple, it displays the title of the current played file :

[code]

If I run this script more than once every 5 seconds (kinda) I get :

[code]

I guess I should not re-authenticate every time and in the final program I will not, but it's very odd to crash like this.

[2016-11-27 23:55] dabbers commented on #72
I've created a simple repro for this.

I start up a node.js server like so:

[code]

Then I connect to this nodd.js web server.

[code]

Hopefully this helps diagnose how you can be more resilient to strange errors from Plex.

[2016-11-29 20:46] phillipj commented on #72
Much appreciated! 👍

[2016-11-30 16:59] markaswift opened #74 "MediaContainer.result?"
Hi,

In your example you use result.friendlyName, I find I need to use result.MediaContainer.friendlyName?

Is this because of a recent change to the result, or am I missing something?

[2016-11-30 23:11] Hellowlol commented on #74
Plex changed some json responses in the API in Pms 1.3

[2016-12-01 07:36] hipstersmoothie commented on #72
experiencing this issue as well.

[2016-12-01 18:15] dabbers commented on #72
I found that if the account has multiple servers shared to it, it will go to another server from time to time. I'm guessing the api is authenticating with one server, then switching to another server somehow. I don't pretend to understand how the api works with multiple servers on the account, but when I removed the other servers from the account, the api worked again.

Just sharing my workaround.

[2016-12-02 15:00] markaswift commented on #74
Makes sense. I'm new to node, could you possibly tell me how I can get a token using this module?

[2016-12-03 13:49] phillipj opened #75 "Handle data format changes in PMS v1.3.x"
@benheller from Plex has been kind enough to reach out about breaking changes in the JSON responses from PMS. In PMS v1.3.x there has was introduced some breaking changes in the PMS responses, which I've been told was an effort to prettify, and make the JSON api a supported feature of PMS.

Quoting @benheller:

[code]

[code]

In order to maintain compatibility with both pre- and post-1.3.x versio

[2016-12-03 13:49] phillipj commented on #74
@Hellowlol is right probably right. I've been noticed about breaking changes in the data format released in PMS 1.3.x. We'll probably have to handle those format changes in this npm package somehow -- I haven't had the time to dig into it yet.

Refs https://github.com/phillipj/node-plex-api/issues/75

[2016-12-03 22:12] markaswift commented on #74
Excellent... I've worked around it.

I'd appreciate some help grabbing a token, add in manually to the websocket address.

I use this to authenticate:

`function loginPlex(credentials) {
    console.log('[LOGIN] Plex notifier attempting login...')
    console.log('[LOGIN] Login credentials:')
    console.log(credentials)
    plexClient = new PlexAPI({
        hostname: credentials.plexIP,

[2016-12-04 09:47] phillipj commented on #74
You'd have to use [plex-api-credentials](https://github.com/phillipj/node-plex-api-credentials) directly, which emits the `token` event.

[code]

[2016-12-04 10:34] markaswift commented on #74
That's awesome,

I added plex-api via NPM and can see that plex-api-credentials is included? I'm therefore assuming I don't need to save it as a separate module?

If so, how can I include it, this didn't seem to work?

`const PlexAPICredentials = require('plex-api-credentials') `

I'm still learning, thank you for the help.

[2016-12-04 10:47] phillipj commented on #74
Yes, you should. If your code requires anything directly, as with `plex-api-credentials` in this case, it should *always* be listed in your `package.json`.

You're right about `plex-api` is installing credentials, that's use behind the scenes to get the trivial username/password support that the majority might need. And depending on which npm version you have installed, and other packages listed i

[2016-12-04 10:49] phillipj commented on #72
The previous example in https://github.com/phillipj/node-plex-api/issues/72#issuecomment-263157386 made it really simple to reproduce. I just opened https://github.com/phillipj/node-plex-api/issues/76 which seemed to fix the issue.

I'll keep that PR open for a day or two in case anyone has any thoughts or improvements, and merge / publish a new plex-api package version after that.

[2016-12-05 19:04] #72 closed

[2016-12-05 19:43] phillipj commented on #72
@dabbers I just published v5 of this package, which should fix the `undefined` issue you've experienced.

Beware of the breaking change mentioned in #76 & #77, feel free to ask if there's any questions.

[2016-12-05 19:45] dabbers commented on #72
Thanks! I resolved the issue for now by removing the other servers shared on my account. I'll give it a test run later on though.

Thank you!

[2016-12-11 07:49] #74 closed

[2016-12-17 23:51] Swiftnesses opened #80 "New sessionKey on stop command?"
Hi Guys,

Under some circumstances I'm seeing a new sessionKey being issued on a stop command. This happens for example when starting something via Safari, letting it play for a second or two and then dragging the seek to the end and letting it stop.

I see this in my debug:

`WEBSOCKET] Detected session:
[ { sessionKey: '89',
    guid: '',
    ratingKey: '23362',
    url: '',
    key: '/library/m

[2016-12-19 18:04] dabbers opened #81 "Throws error instead of Rejects"
I'm seeing an error being thrown from your module instead of being rejected like the previous possible error. I'll send out a pull request.

[code]

[2016-12-19 21:29] #81 closed

[2016-12-20 13:35] phillipj commented on #80
To break the silence; I've got no experience with `sessionKey` unfortunately.

Have you tried asking on the Plex/dev forum? https://forums.plex.tv/categories/channel-development

[2017-01-18 15:47] ajdexter commented on #75
Any updates on this issue?? Understanding your previous disclaimer and that I don't have the skills to lend a hand.

[2017-01-19 21:12] phillipj commented on #75
@ajdexter afraid there's no updates from me at least...

Any thoughts on how you'd expect this to function? As mentioned in the previous comment, it looks like there's two options:
1. Add an option to this package, letting users enabling prettified responses
2. Make this package auto-detect format from the PMS server and possibly transform, ensuring users get *one* format in the response

The latt

[2017-01-19 21:28] hyperlink commented on #75
Auto-detect and transform the result would be ideal because that means users won't have to change their code at all. 🥇

[2017-01-20 07:24] phillipj commented on #75
Sure sounds wonderful for the package users 😄

Which format do we want to transform to?

#### 1. old not so pretty format
[code]

#### 2. new prettified format
[code]

My five cents would go to the prettified format, as it's more JSON-like and to the point vs the old format which looks like XML represented as JSON.

[2017-01-20 07:27] LanderN commented on #75
One vote for the prettified format as it is indeed more JSON and thus easier to work with in JavaScript

[2017-01-20 15:01] hyperlink commented on #75
Not seeing more data with the prettier format. Perhaps a bit more normalized but it looks like the same data structured differently. Either way it will be a breaking change if this module choose to adopt it as dependents will need to update their code. To sum up issues with adopting the new format:

- Module code will need to be rewritten using the new prettier format
- Need to create a converter

[2017-01-20 15:19] benheller commented on #75
Hi all, Plex guy here. Moving forward, you're likely to see more support for the prettified JSON responses. The "old" JSON implementation is largely considered to be unofficial/broken (and I believe actually returns invalid JSON in places). The most robust solution would be to provide an option in the library for `responseFormat`. It could default to `xml`, which would make the request using `Cont

[2017-01-24 01:10] dabbers commented on #72
Just to follow through with this issue, I'm closer to understanding the issue with the 401 error. It's related to the auth token. I noticed that it was sending the same token every time, but other auth tokens would work. So to fix, I changed the unique identifier (though I suspect removing the client from plex would work too). I'm not sure why this is happening where the API token becomes invalid,

[2017-02-12 09:55] DONSA opened #84 "Response object is different"
I believe the response object from Plex is now different.
For example, instead of `result._children` we now have to `result.MediaContainer.Directory`.
For this reason most api actions fail.

[2017-02-13 02:42] OverloadUT commented on #84
You are correct - See #75 to track this issue

[2017-02-13 02:42] #84 closed

[2017-03-09 06:28] daguej opened #86 "Broken with recent Plex version"
Running against PMS 1.4.1.3362, immediately after instantiating a new `PlexControl`:

[code]

Was working prior to upgrading Plex.

[2017-03-09 07:21] phillipj commented on #86
I'm guessing it is related to the new format introduced in Plex v1.3: https://github.com/phillipj/node-plex-api/issues/75

[2017-03-16 18:53] 8bitgentleman opened #87 "Accessing Plex Artwork"
I'm not sure if this is a good place to ask this question but I'm having some difficulty with the plex api.
I've been trying to access and display artwork from an item in my plex library. The "art" and "thumb" tag in the plex MediaContainer object both return a buffer of, I assume, some kind of jpeg data. How do I display that data as an image?

[2017-03-20 18:58] phillipj commented on #87
Haven't done any thumb work myself, but from what you described it might be worth a shot creating an inline .png image from a `Buffer` with the [datauri package](https://www.npmjs.com/package/datauri#from-a-buffer)?

[2017-03-22 22:55] 8bitgentleman commented on #87
Worked like a charm, thanks @phillipj !

[2017-03-22 22:55] #87 closed

[2017-04-13 12:49] Tommatheussen commented on #86
I've got the same, running Version 1.5.4.3596.
Any progress on this? :)

[2017-04-16 22:32] phillipj commented on #75
I obviously haven't been able to prioritise this, which I btw feel really bad about since I acknowledge the fact that folks out there are really bother by this bug.

Until I actually do find the time to work on this, I have just published v5.1.0 of plex-api with a backdoor allowing anyone to decide how responses should be parsed. I don't see this as an ideally fix, but it at least makes it a lot s

[2017-04-17 13:55] hyperlink commented on #75
The header hasn't changed still `1.0`.

[2017-04-17 13:57] phillipj commented on #75
😤 -- thanks for reporting though!

On Mon, 17 Apr 2017 at 15:55, Xiaoxin Lu <notifications@github.com> wrote:

[2017-04-17 14:06] hyperlink commented on #75
Probably have to sniff the response. Most of the code I've seen look for the existence of `_children`. My convert script also does this.

[2017-05-06 21:48] phillipj commented on #75
@hyperlink are you willing to share how you convert the response?

I've started on handling this locally, but hit a challenge when seeing examples where the old format has several `_children` of the same type. That breaks the recommended approach I've gotten to transform new prettified format -> legacy format (see https://github.com/phillipj/node-plex-api/issues/75#issuecomment-273995254) because

[2017-05-07 07:38] wind-rider commented on #75
I'm not sure if I understand you well, but it looks like you want to convert the new format to the legacy format which sounds and feels like a step back to me.
Please also provide a way to get the new format - otherwise we're limiting ourselves for legacy reasons to a format with awful nesting that is difficult to use.

[2017-05-07 10:42] phillipj commented on #75
@wind-rider appreciate you reaching out with your concerns! You are absolutely correct about what I'm thinking about doing.

I absolutely agree that we would be best off defaulting to the new pretty v1.3 format in the long run. That said, to me it's also very important to support existing users of this plex-api package. An important aspect of that is to not **force** users to upgrade to a new majo

[2017-05-07 12:34] wind-rider commented on #75
Ok, that's clear. And I just read this:

Probably this won't work for legacy applications expecting legacy object structures coming out of this, but I think it should work if you would start with a new application now, wouldn't it?

One thing that would still be nice is to have common API calls in this library, because as I understand it programmers have to format their own urls / queries to put i

[2017-05-08 16:23] hyperlink commented on #75
@phillipj here's my [convert script](https://github.com/hyperlink/node-plex-api/blob/add-managed-users-support/lib/convert.js).

[2017-05-10 18:35] jagDanJu opened #88 "webpack + node-plex-api"
Hey,

i´am using this api + webpack and get the following error:

`Module not found: Error: Can't resolve 'net'`

and

[code]
Does anyone have an idea?

Thanks.

[2017-05-18 11:06] thomasvnl commented on #86
Having the same issue, discovered it trying to use the npm package plex-control. Always results in the same error whatever I do.

[2017-06-29 04:30] Glavin001 commented on #69
For those interested, here is what works today for me:

[code]

Hope that helps others get started!

[2017-06-29 10:25] phillipj commented on #69
@Glavin001 thanks for sharing your solution, much appreciated! 👍

[2017-09-23 22:15] phillipj commented on #88
Sorry for the extremely delayed response!

Could you please elaborate more around what you're trying to do?

My first thought is that it seems you're trying to use this plex-api package in a browser environment. If I've understood that correctly, I'm sure you'll meet quite a lot of challenges along the way, as this package has been made with Node.js in mind, not browsers. To be honest I've never e

[2017-09-23 22:31] phillipj commented on #80
Due to no response from others or the original poster, I'll close this issue. Feel free to re-open if needed.

[2017-09-23 22:31] #80 closed

[2017-10-02 07:43] Eisbaeeer commented on #86
Hi
think the api doesn´t work, because nobody close this issue?
Using plex-media-server 1.9.3.4290

[2017-10-02 12:45] phillipj commented on #86
@Eisbaeeer I'd assume you're correct. Mostly because of me that obviously doesn't find the time to prioritise working on it.

That said, anyone who's willing to contribute are more than welcome.

[2017-10-02 13:28] jimmywarting opened #90 "How do I get a streaming url?"
How would i get a stream url (perhaps dash) from using this api after i have authorised using a pin?

[2017-11-13 18:05] Andy1210 opened #91 "result._children is undefined"
https://github.com/phillipj/node-plex-api/blob/7debca16bf87a91b2d96aae7815ce8f233750178/lib/api.js#L144

Looks like the response from plex server has been changed, because the result._children is undefined here.

Tried on server version 1.6.1 and also on Version 1.9.7.4441 (which is the latest currently)

I have replaced the result._children with result.MediaContainer.Server to fix this.

[2017-11-13 18:07] Andy1210 commented on #91
Ah, sry I just noticed its a duplicated issue. I will send a pullrequest then :)

[2017-11-13 18:07] #91 closed

[2017-12-09 20:46] boostup commented on #86
use `client.query` directly

[code]

prints:

[code]

[2018-04-11 18:00] Christilut opened #93 "Error: Permission denied even after attempted authentication"
I'm getting this error around like 30% of my attempts.

Username password is correct, it usually works if I try again. But it happens so much that something must be wrong.

Ideas? What can/should I test here?

[2018-07-15 11:05] ozdeadmeat opened #94 "Installation Help"
Ok, new to node-red. Trying to get this working and cant seem to get it to install correctly. Not a linux guy but can get around the shell as required. Just little experience in the seat. I am trying to get my node red monitor if a particular PC in the house is watching something so that sends commands to my blinds, lights etc to run a dim and close function. Just need to work out how to get this

[2018-07-19 20:01] phillipj commented on #94
As far as I see, those are warnings, not errors. Mostly related to the fact that you don't have a `package.json` file in the directory you're currently located in while installing, but that's not strictly required to get a proof-of-concept up and running.

Have you tried putting the contents of the [`.query()` README example](https://github.com/phillipj/node-plex-api#queryoptions), changing the IP

[2018-07-28 04:17] ozdeadmeat commented on #94
hi, thnx, I am now getting a return.

Could not connect to server { Error: Hostname/IP doesn't match certificate's altnames: "IP: xx.xxx.xxxx.44 is not in the cert's list: "

The certificate has a random uuid.plex.direct alternate name only. I have turned off https but am still getting the same error.

[2018-07-28 22:37] phillipj commented on #94
When you say you have turned off HTTPS, are you referring to your Plex server or this plex-api npm module?

Thinking out loud, this npm module does not communicate over HTTPS by default. That has to be enabled when creating a `PlexAPI` instance by doing one of these two:

1. Set `https` to `true`
2. Set `port` to `443`

In other words, if you haven't done any of the above, it *should* send request

[2018-08-03 02:36] au5ton commented on #90
This is almost a year old, but if anyone comes across this, I think this will work.

See: `/video/:/transcode/universal/start.m3u8`
https://github.com/Arcanemagus/plex-api/wiki/Plex-Web-API-Overview

[2018-09-29 08:43] phillipj commented on #94
Closing this for now, if you're still having issues and want help digging into why, don't hesitate to re-open.

[2018-09-29 08:43] #94 closed

[2018-09-29 08:46] phillipj commented on #88
Closing this for now. I know there are some creative ways around mocking Node.js environment in browsers you might want to look into. Any contributions making this package more browser friendly would also be much appreciated.

[2018-09-29 08:46] #88 closed

[2019-01-04 07:31] xochilpili commented on #86
https://github.com/phillipj/node-plex-api/blob/3cd51abe9ceb5e21335762ef66cf9bfa8cc943ad/lib/api.js#L144

# Change to this :
[code]

[2019-03-11 14:32] biligsaikhan opened #98 "Playback Controls"
I am able to do queries fine. Using /status/session I have got the player IP address. However when I try to perform any action with playback controller it does nothing.
[code]
This returns Success

[2019-04-27 10:12] Zefau opened #99 "Authentication variants"
Hi there,

out of the documentation I am not sure which authentication is required for what scope.

[code]

Let's say I have setups
1. Plex Pass using Plex Home WITHOUT using a PIN for the users.
2. Plex Pass using Plex Home WITH PIN for (some) of the users.
3. What other scenarios do exist?

For which of the above listed setups do I need which authentication method? Or between which ones can I ch

[2019-05-06 19:18] Zefau commented on #99
So, my first investigation: `username` and `password` are sufficient for GET requests.
For any other request (PUT, POST, DELETE) either `managedUser` credentials OR a `token` is required.

Can anybody confirm ?

[2019-05-07 10:57] phillipj commented on #99
Can't really confirm since I haven't tried communicating with plex since the introduction of v1.3 (ref https://github.com/phillipj/node-plex-api/issues/75), though I want to reply here anyways so you get *some* feedback at least.

For what it's worth, I can't remember pre v1.3 had any differences in terms of authentication related to what kinds of HTTP methods was used in a request to the API. Thi

[2019-05-27 15:49] tamaker opened #101 "getting error: 'constuctor port argument is deprecated, use an options object instead'"
I'm trying to run basic tests with the npm module, connecting to my local plex server, authenticating, etc.

the code I'm using is below (running on a local node.js install from mac book pro)

the error I get is "PlexAPI constuctor port argument is deprecated, use an options object instead.".  then I get timed out ( connect ETIMEDOUT ).

Code I'm running:

`var PlexAPI = require("plex-api");`
`req

[2019-05-30 12:57] DrEVILish opened #102 "Unable to Login"
I've copied the example filled out the relevant information and it keeps giving me back this error when I try and connect to the API.

Not sure what I'm missing.

[code]

[code]

[2019-05-30 13:02] DrEVILish commented on #101
Your problem lies with your attempted callback. The PlexAPI doesn't handle callbacks. It's looking for a PORT number where you have your function.

Below would be correct.

[code]

[2019-06-08 05:57] wwwizzarrdry commented on #102
I have no issues using the following.  Please note the use of the plex.direct uri for `hostname` when you have enabled `https`. Perhaps that is your issue? I know that was my problem. I didn't even know about the plex.direct uri...

If it's not an issue with the https option, then my guess is that things have changed in the case of authenticating managed users.

**Note:** the `*`'d props are based

[2019-06-08 06:01] wwwizzarrdry commented on #102
I also don't know how to obtain the plex direct uri, which i need to figure out. I currently just open devtools on an authenticated session in the browser and copy the uri from there. This whole process is pointless if I can't automate this part of the auth.

[2019-06-08 12:41] phillipj commented on #102
To ensure I've got this right before dive into what might be causing this; you got those unhandled promise warnings directly after creating an client with `new PlexAPI(..)` or are you invoking other functions first, like `client.query(..)` or similar?

[2019-06-08 12:43] phillipj commented on #101
@tamaker did you figure this out with @DrEVILish's help?

[2019-06-08 16:08] wwwizzarrdry commented on #102
I spun up a test today and confirmed that you need to use the plex.direct uri when you enable https.

Beyond that, I don't have Plex Home enabled, so I didn't test anything else. My guess is that when @DrEVILish replaces his hostname with the correct plex.dorect uri, everything else will work fine.

Anyone know how to get a Plex.direct certificate hash programmatically?

[2019-08-20 07:27] phillipj commented on #75
Certainly not a permanent fix that will cover all scenarios, but with #92 merged and pushed as v5.2.3 there's *some* support for PMS v1.3 atleast. Still very much open for further improvements and tweaks to make sure working with PMS v1.3 gets even better.

[2019-08-20 10:48] phillipj commented on #86
With #92 merged, this should be improved quite a lot.

Don't hesitate reporting more still-failing queries, if you've got the response from the Plex Media Server as well, that would be extremely helpful.

[2019-08-20 10:48] phillipj commented on #90
Closing this for now. If anyone else has got any other tips, don't hesitate to share them.

[2019-08-20 10:48] #90 closed

[2019-12-23 10:00] cosimochellini opened #106 "[Question] Avoid new authorized device for every request"
Hi, I'm using as [documentation says](https://github.com/phillipj/node-plex-api-credentials#usage) the plex api credentials for the login
![image](https://user-images.githubusercontent.com/24718181/71350661-0fcfd680-2572-11ea-8f44-790048bb0a14.png)
and this flow correctly works, but every time I use this endpoint to query the plex library on the Authorized Devices's list in the plex app a new devi

[2019-12-28 22:45] phillipj commented on #106
That surely looks unfortunate! Can't remember that happened to me before, but it's been a while since I used plex for myself though.

[2020-01-01 15:39] cosimochellini commented on #106
could it be that it is hosted in a serverless environment? but it seems strange to me anyway 😕

[2020-03-14 22:45] jeremykenedy opened #107 "Security Issue with plex server"
Hello,

First off, I love Plex and the hard work you all do!

I do not see a repo for the server so I am unsure where to open this issue.

I discovered a security vulnerability and I want to bring it to your attention.

I do not want to post details publicly.

Please contact me at jeremykenedy@gmail.com and I can send you details.

Thank you again!

~ Jeremy

[2020-03-21 23:36] phillipj commented on #107
Hi Jeremy,

thanks for getting in touch!

To be sure I understand you correctly, is this related the actual plex server itself or this npm package?

[2020-03-22 01:47] jeremykenedy commented on #107
Hi @phillipj,

Thank you for responding :)

Yes, it is with the server no the npm package.

Thank you again!

Jeremy

[2020-03-22 01:47] #107 closed

[2020-10-28 18:25] #101 closed

[2020-10-28 18:27] phillipj commented on #102
Closing this since the author didn't end up answering our questions.

[2020-10-28 18:27] #102 closed

[2020-12-08 15:02] tepsukka commented on #106
I'm late but for anyone having the same issue...

Maybe because you're not passing an identifier in the options, so it's generating a new UUIDv4 every time you initialize the API, which makes Plex think that the requests are coming from different apps?

Relevant part from the docs:

- options: override additional PlexHome options (optional, but recommended for PlexHome)
  - identifier: A unique cl

[2020-12-08 15:53] phillipj commented on #106
@tepsukka ohmy, great catch!

Sorry I didn't connect those dots earlier.

Seeing that `.identifier` documentation now, makes me question the benefit of this package trying to be "helpful" by generating an UUID when no explicit identifier is provided. Wouldn't it be better to enforce the using code to provide a sensible identifier? 🤔

[2020-12-09 08:36] cosimochellini commented on #106
thanks for the solution, for the moment I had used as a temporary solution to simply pass token and hostname, also in this case the connection works without duplicating the connected devices

[code]

Surely this is THE solution, thx again @tepsukka

[2020-12-09 22:49] tepsukka commented on #106
@cosimochellini That's great that you found a solution that worked for you.

@phillipj Moving the identifier management to the library user sounds like a reasonable enough change to me. Especially since I don't see any way this library could actually persist the identifier it generates for later re-use.

Although, I would guess it would be a breaking change if the identifier is required by the Ple

[2020-12-10 08:01] phillipj commented on #106
Thanks for confirming @tepsukka.

Yepps, would for sure be a major version bump.

Sounds like something we better validate upon instantiation and throw a descriptive error if not the identifier is present.

[2021-04-25 08:30] petersem opened #110 "Query by Genre?"
Is there any way to query media by genre? I was trying to use the criteria option that you provided however, there can be multiple genres for a given title. I could parse the data once returned, but I'd prefer if there were a more elegant way.

Thanks!

btw. Great API!

[2021-04-27 19:05] phillipj commented on #110
Good question!

It's been a while since I had fun with the responses coming from the Plex Server, and don't even have a Plex installation available these days to check it out.

Any chance you have the raw response you could share with us? That might raise ideas with regards to using todays query functionality or be very valuable for discussing plausible tweaks to plex-api' code.

[2021-04-30 05:28] petersem opened #111 "client.find returning undefined"
I'm trying to use the client.find() function, but I'm getting: `Cannot read property 'filter' of undefined`, when I _expect_ to get an array of directories back.

Here is an example of my code to replicate this:

[code]
Looking through your API, I wonder if this related to the use of `result._children` and if, in fact, this was related to old Plex data structures that no longer exist in the curren

[2021-04-30 10:40] petersem commented on #110
Here you go. This is just one title from my anime library.  (truly it's for my daughter!!) :)

[code]

[2021-04-30 10:46] petersem commented on #110
@phillipj also, this is what i'm using your library for.
[petersem/Posterr GitHub ](https://github.com/petersem/posterr)
[petersem/poster Docker Hub](https://hub.docker.com/r/petersem/poster)

[2021-05-02 20:24] phillipj commented on #110
Nice @petersem 👍🏻

At first glance it indeed seems like there needs to be some `.find()` adjustments needed to be able to match on the what your responses include inside `Metadata.Genre`. Especially two things comes to mind:

1. It's a child field beneath `Metadata`, which needs to be handled specifically
2. The `Metadata.Genre` (and `Metadata.Role` for that matter) is an array of objects as you m

[2021-05-06 04:27] petersem commented on #110
All good mate. I appreciate the response. It's a good point if it belongs in our API or is an implementation thing.  I'll have a think and may put a PR together. That is, if i can find time from my own open-source projects. :)

[2021-05-06 04:27] petersem commented on #110
i'll close for now

[2021-05-06 04:27] #110 closed

[2021-05-12 05:01] petersem opened #112 "Example of using API when Plex has "secure connections: required""
Whilst I understand the HTTPS option in the API, I am unsure exactly how to implement this. If i set my Plex server to "secure connections: required", then I can only access Plex via Https://app.plex.tv. If I use the app.plex.tv URL in the API, then I don't seem able to connect at all. I do run plex with a self-signed cert via my reverse proxy, but i still have to forward to a http address after p

[2021-05-12 07:17] petersem commented on #112
actually.. i think ive answered my own question.. no reverse proxy and a https connection to make it work. closing issue.

[2021-05-12 07:17] #112 closed

[2021-06-22 20:20] cncgoko opened #113 "Does this work with 2FA Plex server"
Hello,

I'm trying to use plex-api to access my plex server which uses 2FA (2 factor authentication - [Plex docs](https://support.plex.tv/articles/two-factor-authentication/)).
Here is my client constructor
[code]

But I keep receiving this error:
[code]

As mentioned on some topics I found online, I added my 2FA code at the end of the password and it worked, but since it changes every minutes, it

[2021-06-22 20:30] phillipj commented on #113
Hi there,

afraid I've never tried 2FA, nor do I have the ability to test it on a
Plex server these days.

Fingers crossed someone else has some experience with 2FA and using this
npm package.

On Tue, Jun 22, 2021 at 10:20 PM cncgoko ***@***.***> wrote:

[2021-06-22 20:43] cncgoko commented on #113
No problem. Token authenticator seems to work. I'll use this one instead, but keep the issue opens in case someone has more informations.

Thanks for he quick answer :)

[2021-07-07 12:30] hkjasf687261gh commented on #111
I'm having the same issue with Plex version `1.21.3.4021-5a0a3e4b2`

Updating the children variable to include `result.MediaContainer.Directory` fixes the issue for me

[code]

[2021-07-12 10:05] dmytro-shchurov commented on #111
The fix with `|| result.MediaContainer.Directory` does not work with other entries than `sections`. For example `find('/')` returns
[code]
No `recentlyAdded` nor `onDeck` queries work. The same error.

[2021-07-16 01:32] hkjasf687261gh commented on #111
I've updated my MR with more MediaContainer children that were required for different queries,

[2021-07-25 04:24] petersem commented on #111
thanks mate

[2021-07-25 04:24] #111 closed

[2021-09-03 22:00] clausjs commented on #113
@cncgoko Can you describe how you got around this problem? I'm currently running into the exact issue you describe. Is token authenticator a separate npm package?

[2021-12-06 14:36] MMeldrum opened #115 "Still compatible with latest Plex versions?"
Hi,

I'm trying to retrieve data from my Plex server (v1.24.3.5033) but consistently get errors when the Plex response is parsed.

For example, this request:
[code]

results in:

[code]

It looks like the problem is that the `find` function is expecting a key that doesn't exist.  It is looking for `result.MediaContainer.Directory`:

[code]

The actual response is:
<img width="370" alt="image" src=

[2021-12-12 20:39] phillipj commented on #115
Hi there @MMeldrum!

Thanks for the elaborate report and suggestion 👍🏻

I'll be honest and say I don't have a running Plex system anymore, so I have no way of confirming this.. But I wouldn't be surprised if there has been changes to the structure, as we've seen that happen historically.

What sounds like a viable option to try going forward, is to combine what you've found is the current behaviou

[2021-12-16 09:09] MMeldrum commented on #115
Hi @phillipj,

Thanks for the response.  I've confirmed that what's inside `.Metadata` seems to be as expected for my purposes, but I'll see if I can find any differences in the data deeper inside.  (It really is a shame that the Plex devs don't document their API response.)

I was going to suggest that I might write some tests to verify that the response structure hasn't changed but, of course, t

[2021-12-16 22:24] MMeldrum commented on #115
Hello again.  I was all set to raise a PR when I noticed [this](https://github.com/phillipj/node-plex-api/pull/114) existing PR which covers my change and more.

Does that PR require more verification?  I'm happy to test it locally, for example.

And, something I should have said originally... thanks for a great API!  It has allowed me to scan new additions to my library so I can do additional pro

[2021-12-19 06:28] alexose opened #116 "Pulling a livetv transcode into mpv"
Has anyone succeeded in doing this?  I've been trying to figure it out for the last several hours.

My strategy is to first `client.postQuery('/livetv/dvrs/7/channels/107/tune')`, extract the correct `path` from the response, then try to open up `/video/:/transcode/universal/start.mpd` (plus a ton of parameters) in MPV.

It'll play a few seconds worth of video, then lock up and quit.

Is there a b

[2021-12-19 17:30] alexose commented on #116
Some progress!  The trick was to correctly populate the `X-Plex-Session-Identifier` parameter with the same `identifier` string that I'm using when I call `new PlexAPI`.

It now plays for a couple of minutes before it boots me.  Guessing that there's some sort of keepalive that I need to hit.

[2021-12-21 17:46] alexose commented on #116
As expected, Plex requires that you hit the `timeline` url every minute or so in order to keep the stream going.  Everything seems to work properly now.

For anyone who's interested, here's the finished version of my Plex livetv cli interface: https://gist.github.com/alexose/de57aaa129de7d9472cd676f0f20f00c

[2021-12-21 17:46] #116 closed

[2022-01-01 22:30] phillipj commented on #115
Ahhhh thanks for the much needed reminder about that PR! Merged it now and aiming for publishing to npm ASAP.

My pleasure about the package. I'm still astonished it helps people out after 9 years, whereas the last handful or years has honestly been pretty stale 😄

[2022-01-02 11:37] phillipj commented on #115
@MMeldrum v5.3.2 is now out on npm, please try it out and close this issue if it works as expected?

[2022-01-02 17:32] MMeldrum commented on #115
I just upgraded and it worked perfectly. :)

Hard to believe the project is 9 years old. It must be nice to see it still proving useful after all this time. Thanks for still maintaining it.

[2022-01-02 17:32] #115 closed

[2022-04-07 17:19] clarkd opened #117 "Runtime.UnhandledPromiseRejection: StatusCodeError: 401"
I'm trying to use `plex-api` from an AWS Lambda but it's failing with the below error.

[code]

Is there a known issue using this package in that environment? From what I can see it does the following:

* Performs a GET on the configured URL for Plex
* Gets a 401 as no token has been fetched yet
* Tries to do a POST to plex.tv to get a token
* Blows up with that error

But what's strange is that e